<nav>
    <ul>
        <li><a href="/">Home</a></li>

        <!-- if user is logged out-->
        <li><a href="/login">Service</a></li>

        <!-- if user is logged in-->
        <li><a href="/about">About</a></li>
    </ul>
</nav>