<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>
<body>
    <main style="display: flex;">
        <div class="side">
            <ul>
                <li><a href="">Patient Details</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Appointments</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Chat</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </div>
        <div id="dashboard">
            <h1 style="text-align: center;">Patient Dashboard</h1>
            <div class="left" style="margin: 20px;">
                <div style="display: flex;">
                    <div class="reports rounded">
                        View Reports
                    </div>
                    <div class="appointments rounded">
                        Request an appointment
                    </div>
                </div>
                <div class="leftbelow">
                    <div class="calender rounded">
                        
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="profile rounded">
                    
                </div>
            </div>
        </div>
    </main>
    </body>