<%- include('partials/head.ejs') %>
    <%- include('partials/nav.ejs') %>
    <link rel="stylesheet" href="dashboard.css">

        <body>
            <main style="display: flex;">
                <div class="side">
                    <ul>
                        <li><a href="">Patient Details</a></li>
                        <li><a href="">Account</a></li>
                        <li><a href="">Appointments</a></li>
                        <li><a href="">Reports</a></li>
                        <li><a href="">Chat</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div id="dashboard">
                    <h1 style="text-align: center; margin: 2vw;">Patient Dashboard</h1>
                    <div style="display: flex; justify-content: space-around;">
                        <div class="left" style="margin: 20px;">
                            <div style="display: flex; justify-content: space-between; width: 100%;">
                                <div class="reports rounded">
                                    View Reports
                                </div>
                                <div class="appointments rounded">
                                    Request an appointment
                                </div>
                            </div>
                            <div class="leftbelow">
                                <div class="calender rounded">
                                    <p><%=fireUser.displayName %></p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="profile rounded">
                                <div class="profilepic"></div>
                                <p style="font-size: 1.3rem; margin: 2vw;">Patient Name</p>
                                <p>Email</p>
                                <p>Username: INSERT USERNAME</p>
                                <p>Doctor Assigned: None || INSERT NAME</p>
                                <div class="profilebuttons">
                                    <button class="logout">
                                        Logout
                                    </button>
                                    <button class="changepass">
                                        Change Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </body>