body {
    background-color: #f7f7ff;
    margin: 0;
    padding: 0;
    font-family: outfit;
}

nav {
    background-color: #23B86E;
    display: flex;
    justify-content: end;
}

nav ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #23B86E;
    padding: 2vw;
}

nav ul li {
    display: inline;
    color: #f7f7ff;
    font-size: 1.5rem;
    margin: 0px 1vw;
}

nav li a {
    text-decoration: none;
    color: #f7f7ff;
}

a {
    color: #070600;
    text-decoration: none;
}

.side {
    background-color: #d9d9d9;
    min-width: 300px;
    height: 100vh;
    position: sticky;
    margin: 0px;
}

.side ul {
    list-style-type: none;
    margin: 0%;
    padding-top: 10vw;
}

.side li {
    padding: 10px;
    font-size: 1.3rem;
}

.side li:hover {
    border-left: solid 5px #314cb6;
}

h1 {
    text-align: center;
}

#dashboard {
    width: 65vw;
    height: 100vh;
    float: right;
}

.rounded {
    border-radius: 10px;
    color: #f7f7ff;
    margin: 10px;
}

.reports {
    background-image: linear-gradient(to bottom right, #ea627f, #314cb6);
}

.reports, .appointments{
    font-size: 25px;
    padding: 3vw 4vw;
    cursor: pointer;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointments {
    background-image: linear-gradient(to bottom right, #ea627f, #228786);
}